Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

chore(xpu_graph/fx_utils.py): use logger instead of print.
  src/xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): fix some descs.
  docs/RELEASE.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release_note): add release_note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(npu_dist): add simple cases of npu distributed (#462)
  .github/workflows/ci-for-npu.yml
  tests/mlu/test_ddp_matmul.py
  tests/npu/test_ddp_matmul.py
  tests/npu/test_dist_utils.py
  tests/npu/test_fsdp_matmul.py
  tests/npu/test_tp_matmul.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, @zhangjihang-BD, chenyifan.42@bytedance.com

docs(release): update release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(include): simplify pattern filter
  src/xpu_graph/passes/patterns/pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(serialize_patch): unwrap compiled artifact for mlu_compiler
  src/xpu_graph/__init__.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(include_pattern): add include pattern flags (#463)
  docs/RELEASE_CURRENT.md
  src/xpu_graph/config.py
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/patterns/common/__init__.py
  src/xpu_graph/passes/patterns/pattern.py
  src/xpu_graph/passes/patterns/pattern_manager.py
  src/xpu_graph/passes/patterns/structure/__init__.py
  src/xpu_graph/passes/patterns/targets/mlu/__init__.py
  src/xpu_graph/passes/patterns/targets/npu/__init__.py
  src/xpu_graph/utils.py
  tests/common/test_filter_pattern.py
  tests/common/test_skip_pat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(combine_source_inputs): skip combine newly-inserted notes
  src/xpu_graph/passes/patterns/common/combine_pointwise_source.py
  tests/common/test_combine_pointwise_source.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_parallel): skip combine parallel for newly added nodes
  src/xpu_graph/passes/patterns/common/combine_pointwise_source.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_parallel): change combine_parallel level to level2 * combine_parallel may change compute order * change opt_level to level2
  src/xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  src/xpu_graph/passes/patterns/common/combine_pointwise_source.py
  tests/common/test_combine_pointwise_sink.py
  tests/common/test_combine_pointwise_source.py
  tests/mlu/test_fuse_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(exclude_others): exclude other passes for testing combine_parallel patterns
  tests/common/test_combine_pointwise_source.py
  tests/mlu/test_fuse_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(mlu): hotfix for mlu (#470)
  src/xpu_graph/__init__.py
  src/xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  src/xpu_graph/passes/patterns/common/combine_pointwise_source.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
  tests/common/test_combine_pointwise_sink.py
  tests/common/test_combine_pointwise_source.py
  tests/mlu/test_fuse_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(update): update relase note
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade to 0.10.0 (#469)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/fx_utils.py
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(passes/cse.py): fix that we should not remove those impure nodes.
  src/xpu_graph/passes/cse.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update current release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update current release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(passes/cse.py): fix that we should not remove those impure nodes.
  src/xpu_graph/passes/cse.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): update release note.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade to 0.10.1
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): remove the unnecessary chapters.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade to 0.10.1 (#473)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(mlu_compiler/artifact): return function for inference mlu_compiler, not callable object
  src/xpu_graph/__init__.py
  tests/mlu/test_cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(triton_wrap): add triton_wrap test case for mlu
  tests/mlu/test_triton_wrap.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

ci(minify): minify dynamo config
  tests/mlu/test_triton_wrap.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(tensorify): tensorify python scalars after dispatch
  src/xpu_graph/fx_utils.py
  tests/mlu/test_triton_wrap.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(tensorify): add envvar switch
  src/xpu_graph/fx_utils.py
  src/xpu_graph/utils.py
  tests/mlu/test_triton_wrap.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(tensorify_scalars): tensorify python scalars after dispatch (#475)
  src/xpu_graph/fx_utils.py
  src/xpu_graph/utils.py
  tests/mlu/test_triton_wrap.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(mlu_compiler/artifact): return a method for inference mlu_compiler, not callable object (#474)
  src/xpu_graph/__init__.py
  tests/mlu/test_cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(.pre-commit-config.yaml): use autoflake to remove unused import and etc.
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(.pre-commit-config.yaml): use autoflake to remove unused import (#476)
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(inference): force fw_compiler=inference_compiler under inference mode
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style: update lintcheck
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(combo_bmm): add dtype restrict, fix shape bug and adjust matching requirements (#468)
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  src/xpu_graph/passes/patterns/targets/mlu/fuse_densetower.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
  tests/mlu/test_combo_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

ci(new_dispatch): add ci for new dispatch
  tests/common/test_cache.py
  tests/common/test_inference.py
  tests/common/test_interceptor.py
  tests/common/test_training.py
  tests/conftest.py
  tests/mlu/test_cache.py
  tests/mlu/test_inference.py
  tests/mlu/test_interceptor.py
  tests/mlu/test_training.py
  tests/test_models.py
  tests/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): pin the uv version.
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(*): remove the unnecessary code and format the rest.
  src/xpu_graph/backends/npu.py
  src/xpu_graph/device_graph_runner.py
  src/xpu_graph/utils.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/backends/mlu.py): fix the syntax.
  src/xpu_graph/backends/mlu.py
  tests/mlu/test_mlu_graph.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(xpu_graph): add device graph.
  src/xpu_graph/__init__.py
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/device_graph_runner.py
  src/xpu_graph/utils.py
  tests/mlu/test_mlu_graph.py
  tests/npu/test_npu_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com
**/*npu*/** liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* chenyifan.42@bytedance.com liuyuan.leo@bytedance.com
