Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com

refactor(BatchDense): move BatchDenseLayer patterns to structure patterns
  tests/common/test_fuse_batchdenselayer.py
  tests/mlu/test_fast_batchdenselayer.py
  xpu_graph/passes/patterns/common/fuse_denselayer.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/structure/fast_denselayer.py
  xpu_graph/passes/patterns/targets/mlu/fuse_bmm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(CombineWhereCat): refactor slice_where_cat pattern into combine_where_cat * combine where and cat does not require the input to be slices * change it to common patterns
  tests/common/test_combine_where_cat.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/common/combine_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(FuseScaleLayerNorm): move FuseScaleLayerNorm to common patterns
  tests/common/test_fuse_scale_layernorm.py
  xpu_graph/passes/patterns/common/fuse_scale_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(RepeatToExpand): move ChangeRepeatToExpand to common patterns
  tests/common/test_repeat_to_expand.py
  xpu_graph/passes/patterns/common/repeat_to_expand.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ci): amend npu image
  .github/workflows/ci-for-npu.yml
  .github/workflows/lint_check.yml
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ci): fix install pre-commit failed
  scripts/install_githooks.sh
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ci): lint_check run on ubuntu-latest
  .github/workflows/lint_check.yml
  scripts/install_githooks.sh
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(layernorm): allow mixed type of inputs and params for layernorm
  tests/common/test_fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/utils/matcher.py): add pattern matcher for built-in passes.
  xpu_graph/passes/patterns/utils/matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(patten): add weights nd2nz convert patten for npu backend.
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/ascend/__init__.py
  xpu_graph/passes/patterns/targets/ascend/convert_gemm_like_weights_ND2NZ.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(layernorm): remove extra typecast for params
  tests/mlu/test_fuse_addlayernorm.py
  tests/mlu/test_remove_layernorm_cast.py
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_inference.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(patterns): ascend compiler with two patterns
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_base.py
  tests/npu/test_silu_mul.py
  xpu_graph/accuracy_utils.py
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
  xpu_graph/passes/patterns/targets/npu/fuse_add_rmsnorm.py
  xpu_graph/passes/patterns/targets/npu/fuse_brc_permute_sum.py
  xpu_graph/passes/patterns/targets/npu/fuse_silu_mul.py
  xpu_graph/passes/patterns/targets/npu/triton_kernel/fused_add_rmsnorm.py
  xpu_graph/passes/patterns/targets/npu/triton_kernel/fused_silu_mul.py
  xpu_graph/passes/patterns/utils/check_ops.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

feat(patten): add weights nd2nz convert patten for npu backend.
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  xpu_graph/passes/patterns/targets/ascend/__init__.py
  xpu_graph/passes/patterns/targets/npu/convert_gemm_like_weights_ND2NZ.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

ci(.github): refine the codecov setting and discard the codecov flags.
  .github/codecov.yml
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, @zhangjihang-BD, chenyifan.42@bytedance.com

fix(mixedlayernorm): add test cases for mixedtype w/o cast for mlu
  tests/mlu/test_mixedtype_layernorm.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(ci): add support for multi-runner * use random devices * pick any available port for torch-distributed
  .github/workflows/ci-for-mlu.yml
  tests/mlu/test_ddp_matmul.py
  tests/mlu/test_dist_train_utils.py
  tests/mlu/test_fsdp_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(rmsnorm): refactor pattern of rmsnorm * implement common pattern to aggregate rms_norm operations * for backends, change aggregated rms_norm with backed-specific implementations
  tests/common/test_fuse_rmsnorm.py
  tests/mlu/test_fast_rmsnorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/patterns/structure/fast_rmsnorm.py
  xpu_graph/passes/patterns/structure/fuse_rmsnorm.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(npu_rms_norm): add fast_rms_norm pattern for npu
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_fast_rmsnorm.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/rms_norm_module.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(rms_norm_half): fix remove_rms_norm_cast
  tests/mlu/test_fast_rmsnorm.py
  tests/npu/test_fast_rmsnorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/patterns/structure/fast_rmsnorm.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/targets/npu/remove_rmsnorm_cast_inference.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/rms_norm_module.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(ci): handle test inputs for div-by-zero
  tests/common/test_sink_view.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(rmsnorm): refactor pattern of rmsnorm * implement common pattern to aggregate rms_norm operations * for backends, change aggregated rms_norm with backed-specific implementations
  tests/common/test_fuse_rmsnorm.py
  tests/mlu/test_custom_rmsnorm.py
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_custom_rmsnorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/patterns/structure/custom_rmsnorm.py
  xpu_graph/passes/patterns/structure/fuse_rmsnorm.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/targets/npu/remove_rmsnorm_cast_inference.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/rms_norm_module.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(ci): handle test inputs for div-by-zero
  tests/common/test_sink_view.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(patten): add weights nd2nz convert patten for npu backend.
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  xpu_graph/passes/patterns/targets/npu/convert_gemm_like_weights_ND2NZ.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

Fix(comment): add more comments fot two npu patterns
  xpu_graph/passes/patterns/targets/npu/fuse_add_rmsnorm.py
  xpu_graph/passes/patterns/targets/npu/fuse_silu_mul.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(subclass): POC test support for subclass tensors
  tests/common/test_subclass_tensor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph): support environment control of AOTConfig.is_export.
  xpu_graph/cache.py
  xpu_graph/fx_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(doc): remove the redundant directory.
  README.md
  docs/xpu_graph_arch.png
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/common/test_env_utils.py): add unit test for env util.
  tests/common/test_env_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(ci): upload byted-xpu-graph whl to byted-pypi
  .github/workflows/auto_release.yml
  .github/workflows/scripts/upload_to_byted_luban.sh
  .gitignore
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(xpu_graph/utils.py): rename the env variable.
  docs/RELEASE_CURRENT.md
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

build(scritps/build.py): move release note into package and then pack it.
  MANIFEST.in
  pyproject.toml
  scripts/build.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(release): add two triton kernel feature into release notes
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(release): add two triton kernel feature into release notes (#318)
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(auto_release.yml): fix that description should be quoted.
  .github/workflows/auto_release.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(rms_norm): update release_notes
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(docs): update release note.
  docs/RELEASE.md.template
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph): release v0.2.0
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): upadte release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD
