Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com
**/*npu*/** liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* chenyifan.42@bytedance.com liuyuan.leo@bytedance.com

chore(src/xpu_graph/backends/npu.py): remove the unecessary code.
  src/xpu_graph/backends/npu.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(ci-for-npu.yml): fix the codecov.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(src/xpu_graph/cache.py): refactor the cache and support for npu backend. (#442)
  .github/workflows/ci-for-npu.yml
  docs/RELEASE_CURRENT.md
  pyproject.toml
  src/xpu_graph/backends/npu.py
  src/xpu_graph/cache.py
  src/xpu_graph/compiler.py
  src/xpu_graph/utils.py
  tests/npu/test_acl_graph_mempool_reuse.py
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  tests/npu/test_npu_compilation_cache.py
  tests/npu/test_silu_mul.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

feat(guard_filter): backport guard_filter_fn (#454)
  src/xpu_graph/__init__.py
  src/xpu_graph/compiler.py
  src/xpu_graph/guard_filters.py
  tests/common/test_guard_filter.py
  tests/npu/test_silu_mul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

release(xpu_graph/version.py): upgrade to 0.9.0
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): update release note.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade to 0.9.0 (#458)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(warn_guard_filters): warn if using guard_filter_fn
  src/xpu_graph/compiler.py
  src/xpu_graph/guard_filters.py
  tests/common/test_guard_filter.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(test cases): update testcases
  tests/common/test_custom_op.py
  tests/mlu/test_tp_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(legacy): prepare for refactor new dispatch_and_compile process * extract current dispatch and compile process to _legacy_dispatch_and_compile * always enbale fallback_legacy_dispatch
  src/xpu_graph/compiler.py
  src/xpu_graph/config.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): add notes
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(rename): rename
  tests/common/test_custom_op.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(npu_compiler): fix npu_compiler constructor
  src/xpu_graph/__init__.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(level): change base level from level0 to level1
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/patterns/common/sink_view.py
  tests/common/test_pattern_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(vendor_compiler_cfg): explicitly set is_inference and is_backward flag for vendor_compiler (#445)
  src/xpu_graph/backends/__init__.py
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

style(flag): remove unused flag
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(dispatch): use aot_autograd as the simpler dispatcher, and add joint stage)
  src/xpu_graph/compiler.py
  src/xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(pretty): pretty print
  src/xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(new_dispatch): add ci for new_dispatch
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(level): change base level from level0 to level1
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/pass_manager.py
  src/xpu_graph/passes/patterns/common/sink_view.py
  tests/common/test_pattern_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(flag): remove unused flag
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(npu_dist): add dist setting to npu ci
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(npu_dist): add test cases of npu distributed
  tests/mlu/test_fsdp_matmul.py
  tests/npu/test_ddp_matmul.py
  tests/npu/test_dist_utils.py
  tests/npu/test_fsdp_matmul.py
  tests/npu/test_tp_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(npu_compiler): fix npu_compiler constructor
  src/xpu_graph/__init__.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(filter_pattern): add include_pattern to include necessary patterns
  src/xpu_graph/config.py
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/patterns/common/__init__.py
  src/xpu_graph/passes/patterns/pattern.py
  src/xpu_graph/passes/patterns/pattern_manager.py
  src/xpu_graph/passes/patterns/structure/__init__.py
  src/xpu_graph/passes/patterns/targets/mlu/__init__.py
  src/xpu_graph/passes/patterns/targets/npu/__init__.py
  src/xpu_graph/utils.py
  tests/common/test_filter_pattern.py
  tests/common/test_skip_pat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

style(test cases): update testcases
  tests/common/test_custom_op.py
  tests/mlu/test_tp_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(level): change base level from level0 to level1
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/pass_manager.py
  src/xpu_graph/passes/patterns/common/sink_view.py
  tests/common/test_pattern_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(patch_runner): add a patched runner
  src/xpu_graph/backends/npu.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

refactor(dispatch): prepare for refactor of new dispatch_and_compile process (#433)
  docs/RELEASE_CURRENT.md
  src/xpu_graph/__init__.py
  src/xpu_graph/backends/__init__.py
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/compiler.py
  src/xpu_graph/config.py
  src/xpu_graph/passes/optimizer.py
  src/xpu_graph/passes/pass_manager.py
  src/xpu_graph/passes/patterns/common/sink_view.py
  tests/common/test_custom_op.py
  tests/common/test_pattern_manager.py
  tests/mlu/test_tp_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(src/xpu_graph/passess/optimizer.py): fix the data race.
  src/xpu_graph/passes/optimizer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(ci-for-npu.yml): fix the uv version.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(src/xpu_graph/passess/optimizer.py): fix the data race. (#465)
  .github/workflows/ci-for-npu.yml
  src/xpu_graph/passes/optimizer.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/passes/constant_folding.py): fix that we should not fold the impure nodes.
  src/xpu_graph/passes/constant_folding.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combo_bmm): add dtype restrict, fix shape bug and adjust matching requirements
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  tests/mlu/test_combo_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/passes/constant_folding.py): fix that we should not (#467)
  docs/RELEASE_CURRENT.md
  src/xpu_graph/passes/constant_folding.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(log_level): only print debug info for pattern filter
  src/xpu_graph/passes/patterns/pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(typo): fix typo
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(dist): remove wrap pattern in demo module
  tests/mlu/test_ddp_matmul.py
  tests/mlu/test_dist_utils.py
  tests/mlu/test_fsdp_matmul.py
  tests/mlu/test_tp_matmul.py
  tests/npu/test_ddp_matmul.py
  tests/npu/test_dist_utils.py
  tests/npu/test_fsdp_matmul.py
  tests/npu/test_tp_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

release(xpu_graph/version.py): upgrade to 0.10.0
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD
