Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com

fix(layernorm): allow mixed type of inputs and params for layernorm
  tests/common/test_fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(layernorm): remove extra typecast for params
  tests/mlu/test_fuse_addlayernorm.py
  tests/mlu/test_remove_layernorm_cast.py
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_inference.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

ci(auto_release.yml): support using defautl release note.
  .github/workflows/auto_release.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(auto_release.yml): fix the script name.
  .github/workflows/auto_release.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): update release note.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(MANIFEST.in): fix the missing pattern.
  MANIFEST.in
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(layernorm): refactor layer norm patterns * refactor layernorm pattern matching process * fix related patterns * delete unused remove layernorm cast
  tests/common/test_fuse_layernorm.py
  tests/mlu/test_custom_layernorm.py
  tests/mlu/test_remove_layernorm_cast.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/patterns/structure/custom_layernorm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_add_norm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_scale_layernorm.py
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_inference.md
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_inference.py
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_pregrad.md
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_pregrad.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/targets/npu/fuse_add_rmsnorm.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

ci(.github/workflows): ci test should be based on the release artifact.
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
  pyproject.toml
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(ci): fix upload whl to luban token
  .github/workflows/auto_release.yml
  .github/workflows/scripts/upload_to_byted_luban.sh
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(layernorm): update file structures
  tests/mlu/test_custom_layernorm.py
  xpu_graph/compiler.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/norm_modules.py
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
  xpu_graph/passes/patterns/targets/npu/remove_layernorm_cast_inference.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(layernorm): update layernorm test cases
  tests/common/test_fuse_layernorm.py
  tests/mlu/test_custom_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(layernorm): refactor layernorm's pattens.
  tests/common/test_fuse_layernorm.py
  tests/mlu/test_fast_layernorm.py
  tests/npu/test_add_layernorm.py
  tests/npu/test_fast_layernorm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/structure/fast_layernorm.py
  xpu_graph/passes/patterns/targets/mlu/remove_layernorm_cast_inference.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements.py
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
  xpu_graph/passes/patterns/targets/npu/remove_layernorm_cast_inference.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/npu/structure_replacements/layer_norm_module.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

refactor(xpu_graph/passes/optimizer.py): dump the dot files by pickle instead of drawing it to svg file which is too slow.
  xpu_graph/passes/optimizer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update release note for next version.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(npu backend): support repackage AOTI pt2
  xpu_graph/backends/npu.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

style(xpu_graph/passes/optimizer.py): break the long string into multi-line ones.
  xpu_graph/passes/optimizer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/optimizer.py): dump the raw dot files.
  xpu_graph/passes/optimizer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): udpate release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(xpu_graph/passes/optimizer.py): remove the redundent import.
  xpu_graph/passes/optimizer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

Create tools/npu/__init__.py
  tools/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(AOTI): disable npu_triton_patterns when using export
  xpu_graph/passes/patterns/targets/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

Delete fuse_broadcast_gather.py instead by DisentangleAttention
  xpu_graph/passes/patterns/targets/npu/fuse_broadcast_gather.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

Update __init__.py
  xpu_graph/passes/patterns/targets/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

Create __init__.py
  xpu_graph/tools/__init__.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

Delete tools/npu directory
  tools/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(AOTI): add aoti repackage module in tools
  xpu_graph/tools/ascend_aot_package.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

Update ascend_aot_package.py
  xpu_graph/tools/ascend_aot_package.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(ci): fix CI coverage check to exclude non-target backends.
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(xpu_graph/passes/passes/utils): add matcher for better visual pattern matching.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/common): refactore fold_add with new pattern matcher.
  xpu_graph/passes/patterns/common/fold_add.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/passes/patterns/utils): fix the bugs in pattern_matcher.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/utils): refactor the pattern matcher and fix the names of some nodes.
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/utils/pattern_matcher.py): override the __str__ of literal node.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/utils): pattern matcher should capture iff all operands are matched and add more doc strings.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/utils/pattern_matcher.py): support setting meta information through __getitem__.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(tensor_meta): extract tensor_meta for pregrad passes bug: aot_autograd in torch2.7 assumes all nodes has been shape_prop -ed fix: extract tensor_meta after pregrad passes, similar to shape_prop
  xpu_graph/compiler.py
  xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/backends/npu.py): support mempool sharing between multiple graphs.
  xpu_graph/backends/npu.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

test(tests/npu/test_acl_graph_mempool_reuse.py): add testcase for acl_graph memory pool reuse.
  tests/npu/test_acl_graph_mempool_reuse.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

ci(ci-for-npu.yml): update ci image.
  .github/workflows/ci-for-npu.yml
  docs/RELEASE_CURRENT.md
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): add torchvision as dependency.
  pyproject.toml
  tests/npu/test_acl_graph_mempool_reuse.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com
