Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(guard_filter_fn): backport guard_filter_fn
  src/xpu_graph/compiler.py
  tests/common/test_guard_filter.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(src/xpu_graph/backends/npu.py): fix that if user specify compiler, then we should consider it as GE instead of using AclGraph. And make the GE options configurable.
  src/xpu_graph/backends/npu.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

docs(docs/RELEASE_CURRENT.md): update the current release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(src/xpu_graph/backends/npu.py): fix that if user specify compiler, (#456)
  docs/RELEASE_CURRENT.md
  src/xpu_graph/backends/npu.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu/test_npu_compilation_cache.py): refactor the unit test.
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(xpu_graph/backends/npu.py): fix some bugs.
  src/xpu_graph/backends/npu.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(ci-for-npu.yml): install dependencies for npu as well.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(src/xpu_graph/cache.py): refactor the cache and support for npu backend.
  src/xpu_graph/backends/npu.py
  src/xpu_graph/cache.py
  src/xpu_graph/compiler.py
  src/xpu_graph/utils.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): upgrade torch_npu.
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/npu/test_add_rmsnorm.py): add assertion for npu cache.
  tests/npu/test_add_rmsnorm.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu/test_npu_compilation_cache.py): add testcase for npu cache.2B Done.
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(xpu_graph/cache.py): should ignore the import error.
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/backends/npu.py): fix the missing module simplification and skip compilation from inductor or with triton kernels.
  src/xpu_graph/backends/npu.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(ci-for-npu.yml): use uv.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

refactor(src/xpu_graph): refactor the support of npu serializable artifact.
  src/xpu_graph/backends/npu.py
  src/xpu_graph/cache.py
  src/xpu_graph/compiler.py
  src/xpu_graph/utils.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/npu/test_npu_compilation_cache.py): refactor the test.
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

refactor(src/xpu_graph/cache.py): we should put all the related context for serializaiton together.
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(src/xpu_graph/cache.py): fix that we should not return the compilation by loading cache.
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): update for ci.
  .github/workflows/ci-for-npu.yml
  pyproject.toml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

ci(freeze_cache): add test case of cache with freezing
  tests/common/test_cache.py
  tests/common/test_models.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(cache): always patching tracing context to disable fake_mode if within tracing context
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(serializable): force SerializableArtifact to return bytes
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(import): lazy import for Inductor CompiledFxGraph
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(import): fix import of mlu_compile
  src/xpu_graph/__init__.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(save_cache): return rebuilt value when saving
  src/xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(serialize): force SerailizeArtifact serialize to bytes (#457)
  src/xpu_graph/__init__.py
  src/xpu_graph/cache.py
  tests/common/test_cache.py
  tests/common/test_models.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(src/xpu_graph/cache.py): refactor the cache and support for npu backend.
  .github/workflows/ci-for-npu.yml
  pyproject.toml
  src/xpu_graph/backends/npu.py
  src/xpu_graph/cache.py
  src/xpu_graph/compiler.py
  src/xpu_graph/utils.py
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/backends/npu.py): adapt to the latest refactor.
  src/xpu_graph/backends/npu.py
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu/test_npu_compilation_cache.py): add some test cases.
  src/xpu_graph/backends/npu.py
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu/test_npu_compilation_cache.py): should test serially.
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

build(pyproject.toml): should lock in 3.2.0post9.
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(guard_filter_fn): backport guard_filter_fn
  src/xpu_graph/compiler.py
  tests/common/test_guard_filter.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(cache.py&utils.py): remove unnecessary code.
  src/xpu_graph/cache.py
  src/xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/npu): skip the mempool unit test.
  tests/npu/test_acl_graph_mempool_reuse.py
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(ci-for-npu.yml): fix the missing coverage data.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

docs(docs/RELEASE_CURRENT.md): update the release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(skip_all_guards): add skip_all_guards guard_filter_fn
  src/xpu_graph/__init__.py
  src/xpu_graph/compiler.py
  src/xpu_graph/guard_filters.py
  tests/common/test_guard_filter.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ci): fix import of test_silu_mul
  tests/npu/test_silu_mul.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu): fix that dump graph may have race when parallesim is enabled.
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  tests/npu/test_npu_compilation_cache.py
  tests/npu/test_silu_mul.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(tests/npu): fix that we should use the native fixture from pytest to create temporary directories.
  tests/npu/test_npu_compilation_cache.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com
**/*npu*/** liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* chenyifan.42@bytedance.com liuyuan.leo@bytedance.com
