Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com
**/*npu*/** liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* chenyifan.42@bytedance.com liuyuan.leo@bytedance.com

fix(fold_view_concrete): do not fold view if the source view is concrete
  src/xpu_graph/passes/patterns/common/fold_view.py
  tests/mlu/test_symshape.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(known_sym_shape): add test case of strange dynamic-shape output
  tests/mlu/test_symshape.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(tests): update test case explanation and use config patch.
  tests/mlu/test_symshape.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(tests): simplify test cases
  tests/mlu/test_symshape.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

Add tests/test_compiled_fx_artifacts for npu compiled fx artifacts dump and load testing.
  tests/npu/test_compiled_fx_artifacts.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

Add tests/test_compiled_fx_artifacts for npu compiled fx artifacts dump and load testing.
  tests/npu/test_compiled_fx_artifacts.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(.pre-commit-config.yaml): add [--diff] so that we can find out the difference in ci lint when local reproduction is unavailable.
  .pre-commit-config.yaml
  scripts/lint_check.sh
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(layernorm_joint): temp joint pass of layernorm
  src/xpu_graph/compiler.py
  src/xpu_graph/passes/patterns/common/fuse_layernorm.py
  src/xpu_graph/passes/patterns/utils/check_ops.py
  tests/common/test_fuse_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(.pre-commit-config.yaml): add [--diff] so that we can find out the (#439)
  .pre-commit-config.yaml
  scripts/lint_check.sh
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold_concrete_view): do not fold view if source view is concrete (#435)
  src/xpu_graph/passes/patterns/common/fold_view.py
  tests/mlu/test_symshape.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(use_inference): use inference compiler for inference
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(rename): rename
  tests/common/test_custom_op.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph): release 0.6.0
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): update release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): update release note
  docs/RELEASE.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph): release 0.6.0 (#440)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(mempool): temp disable reuse check of mempool
  tests/npu/test_acl_graph_mempool_reuse.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(combo_bmm): combine mm/bmm to bmm feat(combo_bmm): support dynamic
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
  tests/mlu/test_combo_mm.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

support linear
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

support linear to matmul
  src/xpu_graph/passes/patterns/plugin_pattern.py
  src/xpu_graph/passes/patterns/targets/mlu/linear_to_matmul.py
  src/xpu_graph/passes/patterns/utils/check_ops.py
  tests/mlu/test_linear_to_mm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/backends): fix the vendor_compiler_cfg and add default cfg for npu backend.
  src/xpu_graph/backends/__init__.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/compiler.py
  tests/npu/test_base.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

docs(docs/RELEASE_CURRENT.md): update current release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/backends/npu): refactor the default values of npu vendor_compiler_config.
  src/xpu_graph/backends/__init__.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

style(vendor_compiler_cfg): explicitly set is_inference and is_backward flag for vendor_compiler
  src/xpu_graph/backends/__init__.py
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(xpu_graph/backends): fix the vendor_compiler_cfg and add default cfg (#443)
  docs/RELEASE_CURRENT.md
  src/xpu_graph/backends/npu.py
  src/xpu_graph/compiler.py
  tests/npu/test_base.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

ci(ci-for-npu.yml): update ci image.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

docs(docs/RELEASE_CURRENT.md): update RELEASE_CURRENT.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(src/xpu_graph/version.py): release 0.7.0
  docs/RELEASE.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(ci-for-npu.yml): update ci image. (#392)
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

release(src/xpu_graph/version.py): release 0.7.0 (#446)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(runtime): support runtime for npu super kernel.
  pyproject.toml
  runtime/npu/super_kernel/CMakeLists.txt
  runtime/npu/super_kernel/super_kernel_launcher.cpp.in
  scripts/build.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(npu/test_super_kernel_launcher.py): add unit test for super kernel launcher.
  tests/npu/test_files/sk_add.o
  tests/npu/test_super_kernel_launcher.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

build(runtime/npu/super_kernel/CMakeLists.txt): fix that we should check the sdk before building and only works for NPU environment.
  .github/workflows/ci-for-npu.yml
  pyproject.toml
  runtime/npu/super_kernel/CMakeLists.txt
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com, chenyifan.42@bytedance.com, @zhangjihang-BD

style(linter): run lint check
  src/xpu_graph/passes/patterns/plugin_pattern.py
  src/xpu_graph/passes/patterns/targets/mlu/linear_to_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(resume): resume deleted code
  src/xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(linear_to_matmul): update tests of linear_to_matmul
  src/xpu_graph/passes/patterns/targets/mlu/linear_to_matmul.py
  tests/mlu/test_linear_to_matmul.py
  tests/mlu/test_linear_to_mm.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

style(combo_mm): update combo_mm implementation and test cases
  src/xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  src/xpu_graph/passes/patterns/common/combine_pointwise_source.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  src/xpu_graph/passes/patterns/utils/combo_utils.py
  src/xpu_graph/utils.py
  tests/mlu/test_combo_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combo_mm_pregrad): add pregrad implementation of combo_mm
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  src/xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  tests/mlu/test_combo_matmul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(typo): fix typo
  src/xpu_graph/passes/patterns/utils/combo_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(mempool_reuse_test): use inplace op to eliminate un-reusable output space
  tests/npu/test_acl_graph_mempool_reuse.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com
