Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com

docs(docs/RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/npu/test_acl_graph_mempool_reuse): refactor the test case.
  pyproject.toml
  tests/npu/test_acl_graph_mempool_reuse.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(xpu_graph/passess/patterns/targets/npu/check_npu_ops): update targets of dtype_cast op.
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

release(xpu_graph): release v0.3.0
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common): const fold.
  xpu_graph/constant_manager.py
  xpu_graph/passes/constant_pruning.py
  xpu_graph/passes/pass_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(test_utils): update log-capture and skip-cache utilities
  xpu_graph/test_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(logger): refactor initialization of logger
  xpu_graph/compiler.py
  xpu_graph/test_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(logger): refactor logger initialization and test utilities (#343)
  xpu_graph/compiler.py
  xpu_graph/test_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(README): add compilation pipeline
  README.md
  docs/compilation_pipeling.png
  docs/xpu_graph_arch.png
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(README): fix some typo
  README.md
  docs/compilation_pipeline.png
  docs/xpu_graph_arch.png
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(ut): refactor ut cases in norm patterns
  tests/common/test_fuse_layernorm.py
  tests/common/test_fuse_rmsnorm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(norm_dtype): fix result dtype of default fused norm modules
  tests/common/test_fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(remove_assert): remove runtime assertions
  xpu_graph/passes/pass_manager.py
  xpu_graph/passes/remove_runtime_assertions.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(casts): check casted result of affined layernorm
  xpu_graph/passes/patterns/common/fuse_layernorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(typo): fix typo
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(remove_norm_cast): remove cast of params in norm patterns
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(test_utils): update log-capture and skip-cache utilities
  xpu_graph/test_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(README): add compilation pipeline (#344)
  README.md
  docs/compilation_pipeline.png
  docs/xpu_graph_arch.png
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(Capture): refactor Capture class
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(signature): fix wrong signatures
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(TreeCaptureTensor): implement matcher-construction with subclass tensor
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/utils): refactor the pattern matcher and fix the names of some nodes.
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/utils/pattern_matcher.py): override the __str__ of literal node.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(prettyprint): add more info in capture results and pretty print
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/utils): pattern matcher should capture iff all operands are matched and add more doc strings.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/common): refactore fold_add with new pattern matcher.
  xpu_graph/passes/patterns/common/fold_add.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(rename): refactor TreeCaptureBuilder
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(TreeCaptureLiteral): update implementation of literal capture
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/passes/patterns/utils): fix the bugs in pattern_matcher.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(xpu_graph/passes/passes/utils): add matcher for better visual pattern matching.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/utils/pattern_matcher.py): support setting meta information through __getitem__.
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(capture_replace): assign id for captures; fix replace implementation
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(ut): add ut cases for tree matching tensor
  tests/common/test_pattern_matcher.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(ut): update ut for capturing with literal
  tests/common/test_pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(treespec): update node-capture with treespec
  tests/common/test_pattern_matcher.py
  xpu_graph/passes/patterns/utils/pattern_matcher.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/passes/patterns/plugin_pattern.py): support rewrite for literals as inputs through differentiation by users.
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

test(tests/common/test_plugin_pattern.py): add more test cases.
  tests/common/test_plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/passes/patterns/plugin_pattern.py): refactor replacement with symbolic trace.
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

fix(xpu_graph/passess/patterns/plugin_pattern.py): map the kwargs for nodes as well.
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: liuyuan.leo@bytedance.com

fix(xpu_graph/passes/patterns/plugin_pattern.py): support rewrite for (#349)
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com
