Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

refactor(xpu_graph/device_graph_runner.py): make device graph runners together with programmatically class declarations.
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/device_graph_runner.py
  src/xpu_graph/utils.py
  tests/common/test_import_or_ignore.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

test(test_mlu_graph.py): fix the target.
  tests/mlu/test_mlu_graph.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(docs/RELEASE_CURRENT.md): update current release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(interceptor): refactor interceptor as a RuntimeArtifact
  src/xpu_graph/compiler.py
  src/xpu_graph/runtime/__init__.py
  src/xpu_graph/runtime/interceptor.py
  tests/common/test_interceptor.py
  tests/mlu/test_interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(new_dispatch): add ci for new dispatch
  tests/common/test_cache.py
  tests/common/test_inference.py
  tests/common/test_interceptor.py
  tests/common/test_training.py
  tests/conftest.py
  tests/mlu/test_cache.py
  tests/mlu/test_inference.py
  tests/mlu/test_interceptor.py
  tests/mlu/test_training.py
  tests/test_models.py
  tests/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(inference): force fw_compiler=inference_compiler under inference mode
  src/xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): downgrade the torch_npu because cann sdk in ci image is outdated.
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph): add device graph. (#478)
  docs/RELEASE_CURRENT.md
  pyproject.toml
  src/xpu_graph/__init__.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/device_graph_runner.py
  src/xpu_graph/utils.py
  tests/common/test_import_or_ignore.py
  tests/mlu/test_mlu_graph.py
  tests/npu/test_npu_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(interceptor_controller): add runtime control context for interceptor
  src/xpu_graph/runtime/__init__.py
  src/xpu_graph/runtime/interceptor.py
  tests/common/test_interceptor.py
  tests/mlu/test_interceptor.py
  tests/test_models.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(xdist): use dist=loadfile to avoid race of global vars
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat(device_graph_backend): implement DeviceGraphRunner for NPU/MLU
  src/xpu_graph/backends/device_graph.py
  src/xpu_graph/backends/mlu.py
  src/xpu_graph/backends/npu.py
  src/xpu_graph/device_graph_runner.py
  tests/mlu/test_mlu_graph_runner.py
  tests/npu/test_npu_graph_runner.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: improve the incomplete autoflake DCE and update [Target(target)] syntax
  .pre-commit-config.yaml
  src/xpu_graph/backends/device_graph.py
  src/xpu_graph/passes/patterns/common/gelu.py
  src/xpu_graph/passes/patterns/targets/mlu/fuse_linear_attention.py
  src/xpu_graph/passes/patterns/targets/mlu/repeat_to_expand.py
  src/xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_2dot.py
  src/xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_3dot.py
  src/xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_where_cat.py
  src/xpu_graph/passes/patterns/targets/npu/fuse_div_mul_sum.py
  tests/mlu/test_mlu_graph_runner.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: Classify sinkable nodes and replace only sinkable nodes with runners
  src/xpu_graph/backends/device_graph.py
  src/xpu_graph/backends/mlu.py
  tests/mlu/test_mlu_graph.py
  tests/mlu/test_mlu_graph_runner.py
  tests/npu/test_npu_graph_runner.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: refactor _LazyXPUGraph, update xpu_ops logic, and remove async setting
  src/xpu_graph/backends/device_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix: remove stream sync in DeviceGraphRunner
  src/xpu_graph/device_graph_runner.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci: update pre-commit config with Ruff
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci: replace black and isort with ruff for formatting and linting
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(ci-for-npu.yml): echo secrets.
  .github/workflows/ci-for-npu.yml
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: remove --pid=host flag to improve container isolation
  .github/workflows/auto_release.yml
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: remove --pid=host flag to improve container isolation (#487)
  .github/workflows/auto_release.yml
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(pre_commit.yaml): add flags
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(pre_commit.yaml): add flag --line-length=120
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(pre-commit): replace black and isort with ruff (#489)
  .pre-commit-config.yaml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix: ensure stream sync after graph replay
  src/xpu_graph/device_graph_runner.py
  tests/npu/test_npu_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: update stream context manager position and usage
  src/xpu_graph/device_graph_runner.py
  tests/npu/test_npu_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(device_graph_runner): ensure stream sync after graph replay (#491)
  src/xpu_graph/device_graph_runner.py
  tests/npu/test_npu_graph.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix(mlu): fix layernorm and batchmatmul
  src/xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  src/xpu_graph/passes/patterns/targets/mlu/structure_replacements/norm_modules.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

style(lint): lint check
  src/xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(mlu): fix layernorm and batchmatmul (#492)
  src/xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  src/xpu_graph/passes/patterns/targets/mlu/structure_replacements/norm_modules.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

release(xpu_graph/version.py): upgrade to 0.11.0
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade to 0.11.0 (#493)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  src/xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat: add test_trainer for test training with xpu_graph
  tests/npu/test_trainer/main.py
  tests/npu/test_trainer/modeling_qwen3.py
  tests/npu/test_trainer/parallel_dims.py
  tests/npu/test_trainer/parallelize.py
  tests/npu/test_trainer/train.py
  tests/npu/test_trainer/utils.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

feat: support bucketing and reordering in fsdp
  src/xpu_graph/compiler.py
  src/xpu_graph/config.py
  src/xpu_graph/debugger.py
  src/xpu_graph/passes/bucketing.py
  src/xpu_graph/passes/bucketing_and_reordering.py
  src/xpu_graph/passes/pass_manager.py
  src/xpu_graph/passes/reshard_after_forward.py
  tests/npu/test_trainer/main.py
  tests/npu/test_trainer/modeling_qwen3.py
  tests/npu/test_trainer/train.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

fix: fix some bug
  src/xpu_graph/passes/bucketing.py
  src/xpu_graph/passes/bucketing_and_reordering.py
  tests/npu/test_trainer/main.py
  tests/npu/test_trainer/train.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

chore: delete some docstring
  src/xpu_graph/passes/bucketing_and_reordering.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore: delete not used file
  tests/npu/test_trainer/utils.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

chore: fix pre-commit errors
  src/xpu_graph/compiler.py
  src/xpu_graph/debugger.py
  src/xpu_graph/passes/bucketing.py
  src/xpu_graph/passes/bucketing_and_reordering.py
  src/xpu_graph/passes/pass_manager.py
  src/xpu_graph/passes/reshard_after_forward.py
  tests/npu/test_trainer/main.py
  tests/npu/test_trainer/modeling_qwen3.py
  tests/npu/test_trainer/parallel_dims.py
  tests/npu/test_trainer/parallelize.py
  tests/npu/test_trainer/train.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

chore: fix some bugs
  tests/npu/test_trainer/parallelize.py
Owners: liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

chore: fix pre-commit errors
  src/xpu_graph/compiler.py
  src/xpu_graph/debugger.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore: rename item in config and set False as default
  src/xpu_graph/config.py
  src/xpu_graph/passes/pass_manager.py
  tests/npu/test_trainer/main.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com, zhaowenshuo.oo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com
**/*npu*/** liuyuan.leo@bytedance.com zhaowenshuo.oo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* chenyifan.42@bytedance.com liuyuan.leo@bytedance.com
