Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(xpu_graph/compiler&fold_slice_like): fix some bugs.
  xpu_graph/compiler.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

test(tests/common/test_fold_slice_like.py): add test case for fold_slice under dynamic shape and use none as vendor_config.
  tests/common/test_fold_slice_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(change_tensor_like): fix kwargs for change_tensor_like (#403)
  tests/common/test_change_tensor_like.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(dynamic_shape): fix failed patterns under dynamic shape
  xpu_graph/passes/fake_tensor_prop.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/common/fold_expand.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
  xpu_graph/passes/patterns/common/fold_view.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/fuse_sum_cat.py
  xpu_graph/passes/patterns/utils/shape_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fa): fix dynamic-shape test cases for FA
  tests/common/test_fuse_sdpa.py
  tests/mlu/test_flash_attention.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(th25): fallback some dynamic shape tests for th25
  tests/mlu/test_cppwrapper.py
  tests/mlu/test_slice_sum_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(comments): add some comments
  xpu_graph/passes/fake_tensor_prop.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/common/fold_expand.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
  xpu_graph/passes/patterns/common/fold_view.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/targets/mlu/fuse_sum_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(reset): reset dynamo in npu test cases
  tests/npu/test_acl_graph_mempool_reuse.py
  tests/npu/test_add_rmsnorm.py
  tests/npu/test_base.py
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  tests/npu/test_custom_rmsnorm.py
  tests/npu/test_fuse_div_mul_sum.py
  tests/npu/test_fuse_permute_sum.py
  tests/npu/test_silu_mul.py
  tests/npu/test_super_kernel_scope.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

docs(comment): update docs
  xpu_graph/passes/fake_tensor_prop.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(sym_shape): add class SymShapeManger
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/utils/shape_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(symshapeenv): change shape comparison to avoid extra guards
  tests/common/test_sink_view.py
  tests/common/test_symshape.py
  xpu_graph/passes/patterns/common/fold_expand.py
  xpu_graph/passes/patterns/common/fold_reduce.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
  xpu_graph/passes/patterns/common/fold_view.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/fuse_add_norm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/fuse_slice_where_cat.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
  xpu_graph/passes/patterns/utils/shape_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(sinkview): fix nan cases
  tests/common/test_sink_view.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(log): print compiler config when real-compile rather than init
  xpu_graph/compiler.py
  xpu_graph/config.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(sympy_integer): convert all sympy integers
  xpu_graph/passes/patterns/utils/shape_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(names): fix org name
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/chores.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/scripts/rest_api.py
  LICENSE.txt
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): release 0.5.1
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(log): print compiler config when real-compile rather than init (#347)
  xpu_graph/compiler.py
  xpu_graph/config.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(names): fix org name (#408)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/chores.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/scripts/rest_api.py
  LICENSE.txt
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): release 0.5.1 (#409)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(combo_mm): combine mm/bmm to bmm feat(combo_trans): add combo trans
  tests/mlu/test_combo_mm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_trans.py
  xpu_graph/passes/patterns/utils/combo_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(xpu_graph/backends/npu.py): allow to transmiss the vendor options. (#400)
  docs/RELEASE_CURRENT.md
  tests/common/test_env_utils.py
  tests/common/test_xpu_graph_utils.py
  tests/npu/test_base.py
  xpu_graph/backends/npu.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

update
  tests/mlu/test_combo_mm.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_trans.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

style(rename): rename combine_pointwise patterns
  tests/common/test_combine_pointwise_sink.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_poi_sink_tests): add test cases for training with combine_poi
  tests/common/test_combine_pointwise_sink.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_pointwise_sink): fix pattern of combine_poi_sink
  tests/common/test_combine_pointwise_sink.py
  tests/common/test_combine_pointwise_source.py
  tests/common/test_unbind_pointwise.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  xpu_graph/passes/patterns/common/combine_pointwise_source.py
  xpu_graph/passes/patterns/common/combine_unbind_poi.py
  xpu_graph/passes/patterns/common/fold_cat.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/utils/combo_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_pointwise): fix shape_check
  tests/common/test_fold_stack.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  xpu_graph/passes/patterns/common/combine_pointwise_source.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/utils/combo_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_pointwise): support split with symbolic shapes
  tests/common/test_combine_pointwise_sink.py
  tests/common/test_combine_pointwise_source.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  xpu_graph/passes/patterns/common/combine_pointwise_source.py
  xpu_graph/passes/patterns/utils/combo_utils.py
  xpu_graph/passes/patterns/utils/shape_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

tmp
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(pregrad_hop): skip pregrad passes if detect hop
  tests/common/test_custom_op.py
  xpu_graph/compiler.py
  xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(fallback_dispatch): add testcase for inference
  tests/mlu/test_ddp_matmul.py
  tests/mlu/test_dist_utils.py
  tests/mlu/test_fsdp_matmul.py
  tests/mlu/test_tp_matmul.py
  xpu_graph/compiler.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(fallback_dispatch): fallback to legacy aot_dispatch function in case of HOP and subclass-tensors
  tests/mlu/test_dist_train_utils.py
  tests/mlu/test_fsdp_matmul.py
  tests/mlu/test_tp_matmul.py
  xpu_graph/__init__.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/fx_utils.py
  xpu_graph/interceptor.py
  xpu_graph/utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(cache): fix output_strides for code cache load of pt2.5
  xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): add release docs
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): add release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(fuse_pointwise): Fuse parallel pointwise ops (#390)
  docs/RELEASE_CURRENT.md
  tests/common/test_combine_pointwise_sink.py
  tests/common/test_combine_pointwise_source.py
  tests/common/test_fold_cat.py
  tests/common/test_fold_stack.py
  tests/common/test_fold_where.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_pointwise_sink.py
  xpu_graph/passes/patterns/common/combine_pointwise_source.py
  xpu_graph/passes/patterns/common/fold_cat.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/common/fold_where.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/combo_utils.py
  xpu_graph/passes/patterns/utils/shape_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(addn): rename files and update tests cases
  tests/common/test_fuse_addn.py
  tests/common/test_fused_add.py
  xpu_graph/passes/patterns/common/fuse_addn.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(node_name): rename addn nodes name
  xpu_graph/passes/patterns/common/fuse_addn.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release_node): update release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
