Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(common): refactor fold_slice, and unify with slice_scatter folding.
  docs/RELEASE_CURRENT.md
  tests/common/test_fold_slice_like.py
  xpu_graph/passes/patterns/common/fold_slice.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common): enhance constant folding.
  .gitignore
  tests/common/test_constant_fold.py
  xpu_graph/constant_manager.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/constant_folding.py
  xpu_graph/passes/dce.py
  xpu_graph/passes/pass_manager.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/utils/submodule_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(is_similar): use is_similar instead
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_baddbmm.py
  tests/common/test_fuse_sdpa.py
  tests/common/test_sink_view.py
  tests/mlu/test_cppwrapper.py
  tests/mlu/test_custom_batchdenselayer.py
  tests/mlu/test_custom_denselayer.py
  tests/mlu/test_flash_attention.py
  tests/mlu/test_fuse_addlayernorm.py
  tests/mlu/test_fuse_densetower.py
  tests/mlu/test_fuse_mul_sum_cat.py
  tests/mlu/test_fuse_scale_layernorm.py
  tests/mlu/test_linear_attention.py
  tests/mlu/test_slice_sum_cat.py
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  xpu_graph/test_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

docs(Release): update release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(groupgemm): with bias
  tests/mlu/test_combo_mm.py
  xpu_graph/passes/patterns/structure/fuse_split.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_grouped_gemm.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(pattern): add fuse_split fix(pattern): change combine bmm to groupgemm
  tests/mlu/test_combo_mm.py
  tests/mlu/test_fuse_split.py
  xpu_graph/passes/patterns/structure/fuse_split.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_grouped_gemm.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice.py
  xpu_graph/passes/patterns/utils/combo_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

support qianchuan7B
  tests/mlu/test_combo_mm.py
  xpu_graph/passes/patterns/structure/fuse_split.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/fuse_flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/fuse_serial_matmul.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

init
  tests/mlu/.test_combo_mul.py.swp
  tests/mlu/test_combo_mul.py
  tests/mlu/test_where_to_mul.py
  xpu_graph/passes/patterns/common/fold_clone.py
  xpu_graph/passes/patterns/targets/mlu/combo_mul.py
  xpu_graph/passes/patterns/targets/mlu/combo_mul_cat.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/fuse_flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/where_to_mul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

perf(mlu): add stack_to_cat
  tests/mlu/test_stack_to_cat.py
  xpu_graph/passes/patterns/structure/__init__.py
  xpu_graph/passes/patterns/structure/custom_layernorm.py
  xpu_graph/passes/patterns/structure/custom_rmsnorm.py
  xpu_graph/passes/patterns/structure/fuse_combosum.py
  xpu_graph/passes/patterns/structure/fuse_multiple_slice_cat.py
  xpu_graph/passes/patterns/structure/fuse_slice.py
  xpu_graph/passes/patterns/structure/fuse_slice_cat.py
  xpu_graph/passes/patterns/structure/fuse_slice_stack.py
  xpu_graph/passes/patterns/targets/mlu/stack_to_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(decompose): implement decompose pass
  xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(typo): fix typo
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(dtype): check dtype of addmm and baddbmm
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/plugin_pattern.py): support nn.Module when freeze is enabled.
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

docs(readme): add release note
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(Interceptor): add autograd monitor for debugging (#174)
  docs/RELEASE_CURRENT.md
  tests/common/test_interceptor.py
  tests/common/test_models.py
  tests/mlu/test_inference.py
  tests/mlu/test_interceptor.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/fx_utils.py
  xpu_graph/interceptor.py
  xpu_graph/passes/patterns/plugin_pattern.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

fix(ut): increase batchsize of inference inputs to avoid stochatic error
  tests/common/test_models.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(dense): refactor dense patterns into common and structure patterns (#279)
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
  docs/RELEASE_CURRENT.md
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_matmul.py
  tests/common/test_fuse_sdpa.py
  tests/common/test_models.py
  tests/common/test_sink_view.py
  tests/mlu/test_cppwrapper.py
  tests/mlu/test_custom_batchdenselayer.py
  tests/mlu/test_custom_denselayer.py
  tests/mlu/test_fuse_addlayernorm.py
  tests/mlu/test_fuse_densetower.py
  tests/mlu/test_fuse_mul_sum_cat.py
  tests/mlu/test_fuse_scale_layernorm.py
  tests/mlu/test_linear_attention.py
  tests/mlu/test_slice_sum_cat.py
  tests/npu/test_convert_gemm_like_weights_ND2NZ.py
  xpu_graph/backends/__init__.py
  xpu_graph/backends/mlu.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_mm.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/structure/custom_denselayer.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/mlu/fuse_bmm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_densetower.py
  xpu_graph/passes/patterns/targets/mlu/fuse_flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/fuse_matmul.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
  xpu_graph/test_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

refactor(CombineWhereCat): refactor slice_where_cat pattern into combine_where_cat * combine where and cat does not require the input to be slices * change it to common patterns
  tests/common/test_combine_where_cat.py
  xpu_graph/passes/patterns/common/combine_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold): do not fold if result is dynamic size
  tests/common/test_fold_add.py
  tests/common/test_fold_div.py
  tests/common/test_fold_mul.py
  tests/common/test_fold_sub.py
  tests/common/test_fold_where.py
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/common/fold_div.py
  xpu_graph/passes/patterns/common/fold_mul.py
  xpu_graph/passes/patterns/common/fold_sub.py
  xpu_graph/passes/patterns/common/fold_where.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ut): make faulty cases more faulty
  tests/common/test_models.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(differ): record the original graph in a string
  xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold): add support for folding same shape of dyn_size
  tests/common/test_fold_add.py
  tests/common/test_fold_div.py
  tests/common/test_fold_mul.py
  tests/common/test_fold_sub.py
  tests/common/test_fold_where.py
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/common/fold_div.py
  xpu_graph/passes/patterns/common/fold_mul.py
  xpu_graph/passes/patterns/common/fold_sub.py
  xpu_graph/passes/patterns/common/fold_where.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(serialization): Forcifully disable fake mode when desrialization
  xpu_graph/cache.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(pattern): add fuse_split fix(pattern): change combine bmm to groupgemm
  tests/mlu/test_combo_mm.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul.py
  xpu_graph/passes/patterns/targets/mlu/combo_matmul_utils.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/utils/combo_utils.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(fold): do not fold if result is dynamic size (#372)
  tests/common/test_fold_add.py
  tests/common/test_fold_div.py
  tests/common/test_fold_mul.py
  tests/common/test_fold_sub.py
  tests/common/test_fold_where.py
  tests/common/test_models.py
  xpu_graph/cache.py
  xpu_graph/compiler.py
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/common/fold_div.py
  xpu_graph/passes/patterns/common/fold_mul.py
  xpu_graph/passes/patterns/common/fold_sub.py
  xpu_graph/passes/patterns/common/fold_where.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(HOP/custom): add support for higher-order operators * add test cases for custom ops and autograd functions * skip pregrad passes if HOP exists as it cannot be tracked by make_fx
  tests/common/test_custom_op.py
  xpu_graph/compiler.py
  xpu_graph/fx_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

support qianchuan7b
  xpu_graph/passes/patterns/targets/mlu/fuse_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_2dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_3dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_sum_3d.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(skip_pat): skip specific patterns by config
  tests/common/test_skip_pat.py
  xpu_graph/config.py
  xpu_graph/passes/patterns/pattern_manager.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(skip_pat): make env_var more complicated
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(license): add license
  LICENSE.txt
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(cpp_wrapper_configs): update cpp_wrapper configs
  xpu_graph/backends/mlu.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(license): add license (#379)
  LICENSE.txt
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(cpp_wrapper_configs): update cpp_wrapper configs (#381)
  xpu_graph/backends/mlu.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(skip_pat): skip specific patterns by config (#376)
  tests/common/test_skip_pat.py
  xpu_graph/config.py
  xpu_graph/passes/patterns/pattern_manager.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): update release note
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(triton): support fast_libentry
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_2dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_3dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_sum_3d.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(release): update release note
  docs/RELEASE.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(release): release 0.5.0 (#382)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fuseslicecat): use_triton = True
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(fuseslicecat): use_triton = True (#386)
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
