Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(common fuse_baddbmm): fuse bmm+add to baddbmm for train
  tests/common/test_fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/pass/patterns/common): baddbmm remove import torch_mlu
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common fuse_baddbmm): fuse bmm+add to baddbmm for train (#262)
  tests/common/test_fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(norm_dtype): fix result dtype of default fused norm modules (#340)
  tests/common/test_fuse_layernorm.py
  tests/common/test_fuse_rmsnorm.py
  xpu_graph/passes/pass_manager.py
  xpu_graph/passes/patterns/common/fuse_layernorm.py
  xpu_graph/passes/patterns/common/fuse_rmsnorm.py
  xpu_graph/passes/remove_runtime_assertions.py
  xpu_graph/test_utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(cpp_wrapper): fix bugs in use torch 2.7
  tests/mlu/test_cppwrapper.py
  xpu_graph/backends/mlu.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

style(fix): fix lintcheck
  tests/mlu/test_cppwrapper.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(import): fix error import
  xpu_graph/backends/mlu.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(cc): use clang for inductor cpp_wrapper
  .github/workflows/ci-for-mlu.yml
  tests/mlu/test_cppwrapper.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(cpp_wrapper): fix bugs in use torch 2.7 (#329)
  .github/workflows/ci-for-mlu.yml
  tests/mlu/test_cppwrapper.py
  xpu_graph/backends/mlu.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

refactor(xpu_graph/passes/passes/targets/npu/scoped_super_kernel.py): no need to hack the is_impure method.
  xpu_graph/passes/patterns/targets/npu/scoped_super_kernel.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

test(tests/npu/test_super_kernel_scope.py): add test cases for ScopedSuperKernel pattern.
  tests/npu/test_super_kernel_scope.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(xpu_graph/passes/patterns/targets/npu): add vendor_compiler_config option for ScopedSuperKernel Pattern.
  tests/npu/test_super_kernel_scope.py
  xpu_graph/passes/patterns/targets/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(xpu_graph/passes): fix that vendor_compiler_config could be empty and constant folding should no apply on nodes w/o args.
  xpu_graph/compiler.py
  xpu_graph/passes/constant_folding.py
  xpu_graph/passes/cse.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/passes/patterns/targets/npu): add pass for super kernel scoping.
  xpu_graph/passes/patterns/targets/npu/__init__.py
  xpu_graph/passes/patterns/targets/npu/scoped_super_kernel.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(xpu_graph/passes/constant_folding.py): add more annotations.
  xpu_graph/passes/constant_folding.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(xpu_graph/config.py): make vendor_compiler_config as dict by default.
  xpu_graph/config.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/compiler.py): fix decomposition for non-inductor backend.
  tests/npu/test_base.py
  xpu_graph/backends/mlu.py
  xpu_graph/backends/npu.py
  xpu_graph/compiler.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, @zhangjihang-BD, chenyifan.42@bytedance.com

feat(xpu_graph/passes/patterns/targets/npu): add pass for super kernel scoping. (#346)
  tests/npu/test_base.py
  tests/npu/test_super_kernel_scope.py
  xpu_graph/backends/mlu.py
  xpu_graph/backends/npu.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/passes/constant_folding.py
  xpu_graph/passes/cse.py
  xpu_graph/passes/patterns/targets/npu/__init__.py
  xpu_graph/passes/patterns/targets/npu/scoped_super_kernel.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com, @zhangjihang-BD, chenyifan.42@bytedance.com

build(xpu_graph/version.py): upgrade version to 0.4.0
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): restore the RELEASE.md
  docs/RELEASE.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE.md): update release notes.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

release(xpu_graph/version.py): upgrade version to 0.4.0 (#354)
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(.github/workflows/auto_release.yml): fix that we should use raw string in shell.
  .github/workflows/auto_release.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(plugin_pattern): use pytree.tree_map for kwargs of fx.Node because of immutable_dict and add `ignore_literal` to control the matching of plugin pattern.
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

docs(RELEASE.md): update release note.
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(plugin_pattern): use pytree.tree_map for kwargs of fx.Node because of immutable_dict and add `ignore_literal` to control the matching of plugin pattern. (#355)
  .github/workflows/auto_release.yml
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  tests/common/test_plugin_pattern.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

chore(.github/workflows/scripts/rest_api.py): use file reading to avoid escape characters.
  .github/workflows/auto_release.yml
  .github/workflows/scripts/rest_api.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(ci): fix CI coverage check to exclude non-target backends.
  .coveragerc
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(npu): remove xpu_ops related.
  tests/xpu_ops/__init__.py
  tests/xpu_ops/test_convert_flash_attention.py
  tests/xpu_ops/test_e2e.py
  xpu_graph/config.py
  xpu_graph/passes/patterns/pattern_manager.py
  xpu_graph/passes/patterns/xpu_ops/__init__.py
  xpu_graph/passes/patterns/xpu_ops/align_mm_weight.py
  xpu_graph/passes/patterns/xpu_ops/dynamic_quantize.py
  xpu_graph/passes/patterns/xpu_ops/flash_attention.py
  xpu_graph/passes/patterns/xpu_ops/quant_matmul.py
  xpu_graph/passes/patterns/xpu_ops/scale_dynamic_quantize.md
  xpu_graph/passes/patterns/xpu_ops/scale_dynamic_quantize.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(ci): fix CI coverage check to exclude non-target backends. (#360)
  .coveragerc
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(npu): remove xpu_ops related. (#361)
  tests/xpu_ops/__init__.py
  tests/xpu_ops/test_convert_flash_attention.py
  tests/xpu_ops/test_e2e.py
  xpu_graph/config.py
  xpu_graph/passes/patterns/pattern_manager.py
  xpu_graph/passes/patterns/xpu_ops/__init__.py
  xpu_graph/passes/patterns/xpu_ops/align_mm_weight.py
  xpu_graph/passes/patterns/xpu_ops/dynamic_quantize.py
  xpu_graph/passes/patterns/xpu_ops/flash_attention.py
  xpu_graph/passes/patterns/xpu_ops/quant_matmul.py
  xpu_graph/passes/patterns/xpu_ops/scale_dynamic_quantize.md
  xpu_graph/passes/patterns/xpu_ops/scale_dynamic_quantize.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(vendor_compiler_config): vendor_compiler_config check None before use
  xpu_graph/passes/patterns/targets/npu/__init__.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(config): change config settings (#362)
  scripts/commit_msg_check.sh
  tests/mlu/test_fuse_slice_cat.py
  xpu_graph/backends/__init__.py
  xpu_graph/backends/mlu.py
  xpu_graph/backends/npu.py
  xpu_graph/cache.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/libentry.py
  xpu_graph/passes/patterns/targets/npu/__init__.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

chore(.github/workflows/scripts/rest_api.py): use file reading to avoid (#357)
  .github/workflows/auto_release.yml
  .github/workflows/scripts/rest_api.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(loglevel): set default log level according to env var
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(logger): make logger level a context
  tests/common/test_logger.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/test_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(loggername): fix loggername
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(ut): add ut for sub loggers
  tests/common/test_logger.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(module_name): rename pattern and module names
  tests/mlu/test_custom_batchdenselayer.py
  tests/mlu/test_custom_denselayer.py
  xpu_graph/passes/patterns/common/fuse_denselayer.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/structure/custom_denselayer.py
  xpu_graph/passes/patterns/structure/fast_denselayer.py
  xpu_graph/passes/patterns/structure/fuse_densetower.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/flash_attention_modules.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
