Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com

refactor(BatchDense): move BatchDenseLayer patterns to structure patterns
  tests/common/test_fuse_batchdenselayer.py
  tests/mlu/test_fast_batchdenselayer.py
  xpu_graph/passes/patterns/common/fuse_denselayer.py
  xpu_graph/passes/patterns/common/sink_view.py
  xpu_graph/passes/patterns/structure/fast_denselayer.py
  xpu_graph/passes/patterns/targets/mlu/fuse_bmm.py
  xpu_graph/passes/patterns/targets/mlu/fuse_flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(reformat): format
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common): enhance const folding, add const pruning.
  .gitignore
  tests/common/test_constant_fold.py
  xpu_graph/constant_manager.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/constant_folding.py
  xpu_graph/passes/constant_pruning.py
  xpu_graph/passes/pass_manager.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
  xpu_graph/passes/patterns/utils/submodule_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(rebase): merge baddbmm pattern and bmmadd pattern
  tests/common/test_fuse_baddbmm.py
  tests/common/test_fuse_denselayer.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_denselayer.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/structure/custom_denselayer.py
  xpu_graph/passes/patterns/structure/flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(tests): add tests for fa
  tests/mlu/test_flash_attention.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(fold_reduce): support for dim=none in fold reduce (#364)
  tests/common/test_fold_reduce.py
  xpu_graph/passes/patterns/common/fold_reduce.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold_reduce): support for dim=none in fold reduce (#364) (#365)
  tests/common/test_fold_reduce.py
  xpu_graph/passes/patterns/common/fold_reduce.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(fa): allow fa pattern has tensor-typed softmax scale
  tests/common/test_fuse_sdpa.py
  tests/mlu/test_flash_attention.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/flash_attention_modules.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(interceptor): make interceptor checks configurable
  tests/common/test_inference.py
  tests/common/test_training.py
  tests/mlu/test_inference.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(rng_state): reset rng_state when doing monitored forward
  tests/common/test_inference.py
  tests/common/test_models.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/monitors.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(inference): add test cases for mlu inference
  tests/mlu/test_inference.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(inductor): temp workaround for error with inductor
  tests/mlu/test_training.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

refactor(testcases): re-org test cases for interceptor
  tests/common/test_inference.py
  tests/common/test_interceptor.py
  tests/common/test_models.py
  tests/common/test_op_monitor.py
  tests/common/test_training.py
  tests/mlu/test_inference.py
  tests/mlu/test_interceptor.py
  tests/mlu/test_training.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(Monitor): implement autograd monitor
  tests/common/test_inference.py
  tests/common/test_models.py
  tests/common/test_training.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/fx_utils.py
  xpu_graph/monitors.py
  xpu_graph/passes/patterns/plugin_pattern.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

feat(monitor_mutation): deepcopy monitored inputs for inplace-mutations
  tests/common/test_models.py
  tests/common/test_training.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/monitors.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(interceptor): better error message
  tests/common/test_interceptor.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(metadata): remove unused metadata
  xpu_graph/compiler.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

feat(interceptor): add impure and use_golden settings * avoid redundant deepcopy if input is not mutated * allow use golden in the graph instead of compiled function
  tests/common/test_inference.py
  tests/common/test_training.py
  tests/mlu/test_inference.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/fx_utils.py
  xpu_graph/interceptor.py
  xpu_graph/passes/patterns/plugin_pattern.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, liuyuan.leo@bytedance.com

feat(monitor_inference): add monitor for inference mode
  tests/common/test_inference.py
  tests/common/test_op_monitor.py
  tests/common/test_training.py
  xpu_graph/compiler.py
  xpu_graph/monitors.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(input_mutation): detach non-grad inputs as well to support inplace mutations with grad
  tests/common/test_models.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(dump): add original inputs in dump_glob
  tests/common/test_inference.py
  tests/common/test_models.py
  tests/common/test_training.py
  tests/mlu/test_inference.py
  tests/mlu/test_training.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(rename): renaming to interceptor
  tests/common/test_inference.py
  tests/common/test_op_monitor.py
  tests/common/test_training.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(common): refactor const manager and dce.
  .gitignore
  tests/common/test_constant_fold.py
  xpu_graph/constant_manager.py
  xpu_graph/passes/constant_pruning.py
  xpu_graph/passes/dce.py
  xpu_graph/passes/pass_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common): refactor fold_slice, and unify with slice_scatter folding.
  tests/common/test_fold_slice_like.py
  xpu_graph/passes/patterns/common/fold_slice.py
  xpu_graph/passes/patterns/common/fold_slice_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(simplify): simplify dense patterns
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_baddbmm.py
  tests/common/test_fuse_batchdenselayer.py
  tests/mlu/test_cppwrapper.py
  tests/mlu/test_custom_batchdenselayer.py
  tests/mlu/test_custom_denselayer.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/patterns/common/fuse_addmm.py
  xpu_graph/passes/patterns/common/fuse_baddbmm.py
  xpu_graph/passes/patterns/common/fuse_denselayer.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/structure/custom_denselayer.py
  xpu_graph/passes/patterns/structure/fuse_densetower.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/dense_layer_modules.py
  xpu_graph/passes/patterns/utils/check_ops.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(cpp_wrapper_config): fix error in cpp_wrapper_config import
  xpu_graph/backends/mlu.py
  xpu_graph/config.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(common): add test case for redundant const.
  tests/common/test_constant_fold.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(cpp_wrapper_config): fix error in cpp_wrapper_config import (#367)
  xpu_graph/backends/mlu.py
  xpu_graph/config.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

refactor(ut): refactor ut for dense and fa
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_baddbmm.py
  tests/common/test_fuse_sdpa.py
  tests/mlu/test_flash_attention.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(common): add _print_constants in const manager, refine test cases.
  tests/common/test_constant_fold.py
  xpu_graph/constant_manager.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(lintcheck): fix lintcheck
  tests/common/test_fuse_addmm.py
  tests/common/test_fuse_baddbmm.py
  xpu_graph/fx_utils.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/structure/flash_attention.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/flash_attention_modules.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(fa_scale): scale before q@k if scale is tensor
  tests/common/test_fuse_sdpa.py
  tests/mlu/test_flash_attention.py
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
  xpu_graph/passes/patterns/structure/flash_attention.py
  xpu_graph/passes/patterns/utils/default_replacements.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

refactor(target): make densetower a mlu-target pattern
  tests/mlu/test_flash_attention.py
  xpu_graph/backends/__init__.py
  xpu_graph/passes/patterns/structure/flash_attention.py
  xpu_graph/passes/patterns/structure/fuse_densetower.py
  xpu_graph/passes/patterns/targets/__init__.py
  xpu_graph/passes/patterns/targets/mlu/__init__.py
  xpu_graph/passes/patterns/targets/mlu/fuse_densetower.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/__init__.py
  xpu_graph/passes/patterns/targets/mlu/structure_replacements/flash_attention_modules.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(mode): no fused sdpa with wrapped scale for tranining
  xpu_graph/passes/patterns/common/fuse_scaled_dot_product_attention.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(typo): remove debug code
  xpu_graph/passes/patterns/targets/mlu/__init__.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

fix(typo): fix typo
  xpu_graph/passes/patterns/structure/custom_denselayer.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

ci(.github/workflows): fix the binary break in mlu-ci and enable fail-error.
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(decompose): donot decompose sdpa for inductor
  xpu_graph/backends/mlu.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(common): add assert in test_const_folding.
  tests/common/test_constant_fold.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

chore(release): add release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD
