Repository XPU-Forces/xpu_graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(mlu): add where to mul
  tests/mlu/test_where_to_mul.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/where_to_mul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(mlu): add combo mul and combo mul_cat
  tests/mlu/test_combo_mul.py
  tests/mlu/test_combo_slice_where_cat.py
  tests/mlu/test_stack_to_cat.py
  xpu_graph/passes/patterns/structure/fuse_slice.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_mul.py
  xpu_graph/passes/patterns/targets/mlu/combo_mul_cat.py
  xpu_graph/passes/patterns/targets/mlu/stack_to_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(combine_pointwise_cat): combine concatenated pointwise operations * if concatenated add / mul operations share one same arg * concat the other args first and fuse into one contiguous pointwise op
  tests/common/test_combine_pointwise_cat.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/combo_cat_utils.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(where): make where_to_mul a common pattern
  tests/common/test_convert_wheremask_to_mul.py
  tests/mlu/test_where_to_mul.py
  xpu_graph/passes/patterns/common/convert_wheremask_to_mul.py
  xpu_graph/passes/patterns/targets/mlu/where_to_mul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(mlu): add where to mul
  tests/mlu/test_where_to_mul.py
  xpu_graph/passes/patterns/targets/mlu/combo_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/where_to_mul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(mlu): mm(when k=1 or m=n=1) to mulsum to improve computational efficiency and enhance fusion capability
  tests/mlu/test_bmm_to_mulsum.py
  xpu_graph/passes/patterns/structure/custom_denselayer.py
  xpu_graph/passes/patterns/targets/mlu/mm_to_mulsum.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

ci(ci-for-npu.yml): update ci image.
  .github/workflows/ci-for-npu.yml
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(mlu): add tmp
  tests/mlu/test_where_to_mul.py
  xpu_graph/passes/patterns/targets/mlu/where_to_mul.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(combine_pointwise): stack same-shape pointwise ops
  tests/common/test_combine_pointwise.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_pointwise.py
  xpu_graph/passes/patterns/common/combine_where_cat.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_where): do not convert where to mul as is inconstent with inf/nan
  tests/common/test_combine_pointwise.py
  tests/common/test_convert_wheremask_to_mul.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_pointwise.py
  xpu_graph/passes/patterns/common/convert_wheremask_to_mul.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

style(rename): rename test func names
  tests/mlu/test_fuse_slice_where_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(unbind_stack): fold unbind-stack patterns
  tests/common/test_fold_stack.py
  xpu_graph/passes/patterns/common/fold_stack.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(combine_pointwise): allow configure extra combinable pointwise ops
  xpu_graph/passes/patterns/common/combine_pointwise.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_pointwise): non-exclusively merge parallel ops
  xpu_graph/passes/patterns/common/combine_pointwise.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold_dtype): fix result dtype of binary_fold
  tests/common/test_fold_mul.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(combine_pointwise): fix replace orders, only firstly-used args can be combined
  tests/common/test_combine_pointwise.py
  xpu_graph/passes/patterns/common/combine_pointwise.py
  xpu_graph/passes/patterns/utils/check_ops.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold_dtype): fix result dtype of binary_fold (#397)
  tests/common/test_fold_mul.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(xpu_graph/backends/npu.py): allow to transmiss the vendor options.
  tests/common/test_env_utils.py
  tests/common/test_xpu_graph_utils.py
  xpu_graph/backends/npu.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

fix(xpu_graph/utils.py): fix that the attribute may have setter.
  tests/common/test_xpu_graph_utils.py
  tests/npu/test_base.py
  xpu_graph/backends/npu.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(mlu): add cat to stack pattern
  tests/mlu/test_stack_to_cat.py
  xpu_graph/passes/patterns/targets/mlu/stack_to_cat.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

feat(combine_pointwise): allow combination of concatable ops
  tests/common/test_combine_pointwise.py
  tests/mlu/test_fuse_slice_where_cat.py
  xpu_graph/passes/patterns/common/combine_pointwise.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(fold_cat_split): fold split-cat patterns
  tests/common/test_fold_cat.py
  tests/common/test_fold_stack.py
  xpu_graph/passes/patterns/common/fold_cat.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/utils/check_ops.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold_where_const): reduce shape of mask inputs of aten.where
  tests/common/test_combine_pointwise.py
  tests/common/test_fold_where.py
  xpu_graph/passes/patterns/common/combine_pointwise.py
  xpu_graph/passes/patterns/common/fold_where.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(xpu_graph/utils.py): fix that attributes could be renamed by some decorators.
  tests/common/test_xpu_graph_utils.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

docs(RELEASE_CURRENT.md): update release note.
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(mlu): add split_pointwise
  tests/mlu/test_split_pointwise.py
  xpu_graph/passes/patterns/common/combine_split_poi.py
  xpu_graph/passes/patterns/utils/check_ops.py
Owners: @zhangjihang-BD, chenyifan.42@bytedance.com

docs(release): flush release notes
  docs/RELEASE_CURRENT.md
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(intercept_controller): use context to control interceptor-wrapped behavior
  tests/common/test_inference.py
  tests/common/test_interceptor.py
  tests/common/test_models.py
  tests/common/test_training.py
  tests/mlu/test_inference.py
  tests/mlu/test_interceptor.py
  tests/mlu/test_training.py
  xpu_graph/compiler.py
  xpu_graph/config.py
  xpu_graph/interceptor.py
  xpu_graph/utils.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(try_compile): add non-interceptor tests
  tests/common/test_try_compile.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(try_compile): add demo for try_compile
  tests/common/test_try_compile.py
  xpu_graph/interceptor.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(change_tensor_like): fix kwargs for change_tensor_like
  tests/common/test_change_tensor_like.py
  xpu_graph/passes/patterns/common/change_tensor_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

feat(export): unfinished general export mode
  tests/common/test_aot_export.py
  tests/npu/test_aot_export_ge.py
  xpu_graph/__init__.py
  xpu_graph/cache.py
  xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(combine_pointwise): add unbind/split
  tests/common/test_unbind_pointwise.py
  xpu_graph/passes/patterns/common/combine_unbind_poi.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold): fix traverse order of folding passes with new nodes
  tests/common/test_fold_add.py
  tests/common/test_fold_cat.py
  tests/common/test_fold_div.py
  tests/common/test_fold_mul.py
  tests/common/test_fold_reduce.py
  tests/common/test_fold_stack.py
  tests/common/test_fold_sub.py
  tests/common/test_fold_where.py
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/common/fold_cat.py
  xpu_graph/passes/patterns/common/fold_div.py
  xpu_graph/passes/patterns/common/fold_mul.py
  xpu_graph/passes/patterns/common/fold_reduce.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/common/fold_sub.py
  xpu_graph/passes/patterns/common/fold_where.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(fold): fix traverse order of folding passes with new nodes (#405)
  tests/common/test_fold_add.py
  tests/common/test_fold_cat.py
  tests/common/test_fold_div.py
  tests/common/test_fold_mul.py
  tests/common/test_fold_reduce.py
  tests/common/test_fold_stack.py
  tests/common/test_fold_sub.py
  tests/common/test_fold_where.py
  xpu_graph/passes/patterns/common/fold_add.py
  xpu_graph/passes/patterns/common/fold_cat.py
  xpu_graph/passes/patterns/common/fold_div.py
  xpu_graph/passes/patterns/common/fold_mul.py
  xpu_graph/passes/patterns/common/fold_reduce.py
  xpu_graph/passes/patterns/common/fold_stack.py
  xpu_graph/passes/patterns/common/fold_sub.py
  xpu_graph/passes/patterns/common/fold_where.py
  xpu_graph/passes/patterns/utils/get_binary_fold_result.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(change_tensor_like): add layout kwargs
  xpu_graph/passes/patterns/common/change_tensor_like.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

fix(patterns/targets/npu/check_npu_ops.py): fix that _npu_dtype_cast and npu_dtype_cast for different versions of torch_npu.
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
Owners: wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

build(pyproject.toml): add dependencies for project and add sections for uv.
  pyproject.toml
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

build(pyproject.toml): add dependencies for project and add sections for uv. (#394)
  pyproject.toml
  xpu_graph/passes/patterns/targets/npu/check_npu_ops.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD, wangmingfa@bytedance.com, liuyuan.leo@bytedance.com

feat(export): strict=False
  xpu_graph/compiler.py
Owners: chenyifan.42@bytedance.com, @zhangjihang-BD

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they'll be
# asked to review changes.
# Global Reviewer
* chenyifan.42@bytedance.com @zhangjihang-BD

# MLU Reviewer
**/*mlu* @zhangjihang-BD chenyifan.42@bytedance.com
**/*mlu*/** @zhangjihang-BD chenyifan.42@bytedance.com

# NPU Reviewer
**/*npu* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
**/*npu*/** wangmingfa@bytedance.com liuyuan.leo@bytedance.com

# Plugin Pattern Reviewer
xpu_graph/passes/patterns/plugin_pattern.py liuyuan.leo@bytedance.com

# Github Config Reviewer
.github/* wangmingfa@bytedance.com liuyuan.leo@bytedance.com
