Repository XPU-Forces/xpu_graph, pull requests merged in 2025-06, with the labels that each got.

#212 release(.github): add scrpts and yaml for release.
  .github/release.yml
  .github/workflows/auto_release.yml
  .github/workflows/scripts/rest_api.py
  pyproject.toml
  requirements.txt
  setup.py
  xpu_graph/__init__.py
  xpu_graph/version.py
Labels: ignore-for-release

#211 feat(triton kernel): performance optimization of the xxxsumcat
  xpu_graph/passes/patterns/targets/mlu/fuse_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_mul_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_2dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_serial_mm_3dot.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_sum_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/fused_slice_where_cat.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/get_mlu_devinfo.py
  xpu_graph/passes/patterns/targets/mlu/triton_kernel/libentry.py
Labels: enhancement, Semver-Minor

#217 chore(.github&docs): make modern repo management and community
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/codecov.yml
  .github/workflows/auto_release.yml
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
  .github/workflows/scripts/rest_api.py
  docs/RELEASE.md
  docs/RELEASE.md.template
  docs/RELEASE_CURRENT.md
  docs/update_release_note.sh
  pyproject.toml
Labels: ignore-for-release

#271 feat(xpu_graph/utils.py): add logging for process and thread id.
  docs/RELEASE_CURRENT.md
  xpu_graph/utils.py
Labels: enhancement
