Repository XPU-Forces/xpu_graph, pull requests merged in 2025-07, with the labels that each got.

#300 ci(.github): refine the codecov setting and discard the codecov flags.
  .github/codecov.yml
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
Labels: ignore-for-release, chore

#312 feat(xpu_graph): support environment control of AOTConfig.is_export.
  README.md
  docs/RELEASE_CURRENT.md
  docs/xpu_graph_arch.png
  tests/common/test_env_utils.py
  xpu_graph/cache.py
  xpu_graph/fx_utils.py
  xpu_graph/utils.py
Labels: enhancement

#317 build(scritps/build.py): move release note into package and then pack…
  .github/workflows/auto_release.yml
  MANIFEST.in
  pyproject.toml
  scripts/build.py
Labels: ignore-for-release, chore

#315 release(xpu_graph): release v0.2.0
  docs/RELEASE.md
  docs/RELEASE.md.template
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Labels: ignore-for-release

#320 ci(.github/workflows): ci test should be based on the release artifact.
  .github/workflows/ci-for-mlu.yml
  .github/workflows/ci-for-npu.yml
  MANIFEST.in
  pyproject.toml
Labels: ignore-for-release

#337 release(xpu_graph): release v0.3.0
  docs/RELEASE.md
  docs/RELEASE_CURRENT.md
  xpu_graph/version.py
Labels: ignore-for-release
